// Colors
// 94CB73
// 5cb85c
$white:      #fff !default;
$black:      #000 !default;
$red:        #d9534f !default;
$orange:     #f0ad4e !default;
$accent:     #F05B70 !default;
$yellow:     #ffd500 !default;
$green-light:#94CB73 !default;
$green:      #80AF56 !default;
$green-dark: #456B38;
$blue:   #0275d8 !default;
$teal:   #5bc0de !default;
$pink:   #ff5b77 !default;
$purple: #613d7c !default;

// Grayscale
$gray-dark:                 #222;
$gray:                      #212121;
$gray-light:                #666;
$gray-lighter:              #bbb;
$gray-lightest:             #eee;
