

    <!-- User logged in -->
    <div class="box" *ngIf="auth.currentUser">
        <h3>BienvenidoX, {{ auth.currentUserDisplayName }}</h3>
        <img class="card-img-top" [src]="auth.currentUser.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" width=50px>
        <!-- <p class="text-truncate">UID: {{ auth.currentUserId }}</p> -->
        <p class="text-truncate">Kintos: 10</p>
        <button class="button" (click)="logout()">Salir</button>

   </div>

    <!-- User NOT logged in -->
    <div class="box" *ngIf="!auth.currentUser">
        <h3>Hola, {{ auth.currentUserDisplayName }}</h3>
        <p class="card-text">Inicia sesión para comenzar...</p>
        <button class="button" routerLink="/login">Entrar</button>

    </div>
